@font-face {
    font-family: 'Garamond';
    src: url(../../../public/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../../../public/fonts/Poppins/Poppins-Regular.ttf) format(truetype);
    font-display: swap;
}

.footer {
    font-family: 'Poppins';
    letter-spacing: 3px;
}